* {
    box-sizing: border-box;
    --dim: 50px;
    font-family: 'Inclusive Sans', sans-serif;
}

@media (min-width: 900px) {
 * {
    --dim: 70px;
 }   
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(hsl(0, 0%, 40%), hsl(0, 0%, 50%));
    height: 100vh;
}


#header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: black;
}


#maingame {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin: auto;
}

.blur1 {
    display: inherit;
    justify-content: space-around;
    width: 40%;
    filter: blur(5px);
}

.letter {
    font-size: 2rem;
    color: black;
}

#kb-display {
    max-width: calc(var(--dim) * 15);
    display: flex;
    flex-direction: column;
    gap: calc(var(--dim) / 10);
    padding: calc(var(--dim) / 2);
    margin: 50px auto;
}

.row {
    display: flex;
    gap: calc(var(--dim) / 10);
}

.key {
    background-color: hsla(0, 0%, 60%, .5);
    height: var(--dim);
    width: var(--dim);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    box-shadow: 0 0 1px white;
}

#lock {
    font-size: 3rem;
    color: white;
}

.space {
    width: calc(var(--dim) * 5); 
    text-align: center;
    margin-left: calc(var(--dim) * 4.2);
}

.q {
    margin-left: calc(var(--dim) * 1.4);
}

.a {
    margin-left: calc(var(--dim) * 1.6);
}

.z {
    margin-left: calc(var(--dim) * 2.1);
}


.lit-up {
    background-color: hsla(0, 0%, 30%, .5);
}